<mat-accordion class="w-full ">
    <mat-expansion-panel hideToggle class="mat-elevation-z0">
        <mat-expansion-panel-header>
            <div class="w-full flex justify-center">
                <button matButton>
                    <mat-icon>add_circle</mat-icon> <!-- círculo com + -->
                    Adicionar movimentação
                </button>
            </div>
        </mat-expansion-panel-header>

        <div>
            <h2 class="mb-5 text-base">Cadastre sua movimentação</h2>

            <div class="flex flex-wrap flex-col lg:flex-row gap-3">
                <div class="w-full row">
                    <span class="text-xs font-semibold">
                        Id: {{idmove}}
                    </span>
                </div>

                <mat-form-field class="w-full lg:w-1/3">
                    <mat-label>Descrição</mat-label>
                    <input matInput (blur)="updateErrorMessage()" [formControl]="description" required />
                    @if (description.invalid) {
                    <mat-error>{{errorMessageDescription()}}</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="w-full lg:w-1/4">
                    <mat-label>Produto</mat-label>
                    <mat-select [(ngModel)]="selectedProductId">
                        @for (item of products; track item.id) {
                        <mat-option value="{{item.id}}">{{item.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="w-full lg:w-1/4">
                    <mat-label>Quantidade</mat-label>
                    <input matInput [formControl]="qtd" (blur)="updateErrorMessage()" required />

                    @if (qtd.invalid) {
                    <mat-error>{{errorMessageQtd()}}</mat-error>
                    }
                </mat-form-field>

                <button matButton (click)="emitSave()">
                    <mat-icon>save</mat-icon> <!-- círculo com + -->
                    salvar
                </button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>