<div class="w-full">
    <h2 class="mb-5 text-base">Filtro</h2>

    <div class="flex flex-col lg:flex-row gap-3">
        <mat-form-field class="xs:w-full lg:w-[150px]">
            <mat-label>id:</mat-label>
            <input matInput [(ngModel)]="idmove" />
        </mat-form-field>

        <mat-form-field class="w-full lg:w-1/3">
            <mat-label>Descrição</mat-label>
            <input matInput required [(ngModel)]="description" />
        </mat-form-field>

        <mat-form-field class="w-full lg:w-1/4">
            <mat-label>Produto</mat-label>
            <mat-select [(ngModel)]="selectedProductId">
                @for (item of products; track item.id) {
                <mat-option value="{{item.id}}">{{item.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            @if (range.controls.start.hasError('matStartDateInvalid')) {
            <mat-error>Invalid start date</mat-error>
            }
            @if (range.controls.end.hasError('matEndDateInvalid')) {
            <mat-error>Invalid end date</mat-error>
            }
        </mat-form-field>
    </div>

    <div class="w-full flex justify-center lg:justify-end">
        <button matButton="elevated" aria-label="Botão de cadastrar nova movimentação" (click)="emitFilter()">
            Aplicar filtro
        </button>
    </div>
</div>